<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>INFO FOR USER</title>
</head>
<body>
<h4>INFO FOR USER</h4>
<h3>Личный кабинет</h3>

<div>
    <b>Имя пользователя</b>
    <p th:utext="${user.username}"></p>
    <b>Пароль</b>
    <p th:utext="${user.password}"></p>
    <b>Имя</b>
    <p th:utext="${user.firstName}"></p>
    <b>Фамилия</b>
    <p th:utext="${user.lastName}"></p>
    <b>E-mail</b>
    <p th:utext="${user.email}"></p>
    <b>Роли</b>
    <p th:each="role : ${roles}"
       th:utext="${role}"></p>
</div>

<br><br>
<a th:if="${isAdmin == true}" th:href="@{/admin}">
    <input type="submit" value="К администрированию"/>
</a>

<br><br>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Выйти"/>
</form>

</body>
</html>